https://www.kaggle.com/competitions/titanic

Data Dictionary
Variable	Definition	Key
survival 	Survival 	0 = No, 1 = Yes
pclass 	Ticket class 	1 = 1st, 2 = 2nd, 3 = 3rd
sex 	Sex 	
Age 	Age in years 	
sibsp 	# of siblings / spouses aboard the Titanic 	
parch 	# of parents / children aboard the Titanic 	
ticket 	Ticket number 	
fare 	Passenger fare 	
cabin 	Cabin number 	
embarked 	Port of Embarkation 	C = Cherbourg, Q = Queenstown, S = Southampton

In [2]:
import os

import pandas as pd
import pandas_profiling
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.getcwd()

'/home/oem/Projects/titanic'

In [4]:
os.listdir()

['x_remove_1_Model_2.ipynb',
 '.idea',
 'Datasets',
 '1_Baseline_model.ipynb',
 '1_Model_01.ipynb',
 '1_Model_02-Copy1.ipynb',
 '.git',
 '0_EDA.ipynb',
 '.ipynb_checkpoints',
 'main.py',
 'profiling_report.html',
 '1_Model_02.ipynb']

In [5]:
os.listdir("Datasets")

['gender_submission.csv',
 'Output',
 '.ipynb_checkpoints',
 'train.csv',
 'test.csv']

# General
- number of rows: train / test
- data types
- target distribution
- missing values

## Sample size

In [6]:
train_pd = pd.read_csv('Datasets/train.csv')
test_pd = pd.read_csv('Datasets/test.csv')

In [7]:
train_pd.shape

(891, 12)

In [8]:
test_pd.shape

(418, 11)

## Types and examples

In [9]:
train_pd.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
train_pd.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [11]:
train_pd.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Target distribution

In [12]:
train_pd.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

## Missing values

In [14]:
train_pd.isna().sum() / train_pd.shape[0]

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

## Values per column

In [17]:
for col in train_pd.columns:
    print('---', col, '---')
    print(train_pd[col].value_counts())
    print()

--- PassengerId ---
1      1
599    1
588    1
589    1
590    1
      ..
301    1
302    1
303    1
304    1
891    1
Name: PassengerId, Length: 891, dtype: int64

--- Survived ---
0    549
1    342
Name: Survived, dtype: int64

--- Pclass ---
3    491
1    216
2    184
Name: Pclass, dtype: int64

--- Name ---
Braund, Mr. Owen Harris                     1
Boulos, Mr. Hanna                           1
Frolicher-Stehli, Mr. Maxmillian            1
Gilinski, Mr. Eliezer                       1
Murdlin, Mr. Joseph                         1
                                           ..
Kelly, Miss. Anna Katherine "Annie Kate"    1
McCoy, Mr. Bernard                          1
Johnson, Mr. William Cahoone Jr             1
Keane, Miss. Nora A                         1
Dooley, Mr. Patrick                         1
Name: Name, Length: 891, dtype: int64

--- Sex ---
male      577
female    314
Name: Sex, dtype: int64

--- Age ---
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

--- SibSp ---
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

--- Parch ---
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

--- Ticket ---
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

--- Fare ---
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: Fare, Length: 248, dtype: int64

--- Cabin ---
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

--- Embarked ---
S    644
C    168
Q     77
Name: Embarked, dtype: int64

## Pandas Profiling

In [15]:
report = pandas_profiling.ProfileReport(df=train_pd, minimal=False, explorative=True)

In [16]:
report.to_file("profiling_report.html")

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]